@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./style/navVertical.css');
@import url('./style/color.css');
@import url('./style/CardSuperior.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
}

.content {
  background: var(--backgroundDash);
  color: var(--textColor);
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin-left: 23.85vw;
}




.cardGrafico {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background: var(--backgroundCard);
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0 0 40px var(--backgroundCard);
  width: 70.49vw;
  height: 52.68vh;
  gap: 3vw;
}

.cardGrafico .card {
  width: 14.86vw;
  height: fit-content;
  border-radius: 20px;
  padding-block: 3vh;
  padding-inline: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
}

.cardGrafico .card select {
  background-color: var(--backgroundSelect);
  border: none;
  border-radius: 70px;
  font-size: 1.67vw;
  font-weight: bold;
  color: var(--textColor);
}

.cardGrafico .card .infoPrin {
  font-size: 1.39vw;
  font-weight: bold;
}

.cardGrafico .card .info {
  width: 13.89vw;
  padding-block: 1vh;
  font-size: 1.04vw;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardGrafico .card .info p {
  width: 12.15vw;
}

.cardGrafico .azul {
  background-color: var(--blueSky);
}

.cardGrafico .card .azul {
  background-color: var(--darkBlue);
}

.cardGrafico .amarelo {
  background-color: var(--yellowSky);
}

.cardGrafico .card .amarelo {
  background-color: var(--darkYellow);
}