@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
}

.navVertical {
  width: 23.85vw;
  background-color: #1B1818;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navVertical a img {
  width: 13.9vw;
  height: 7.8vh;
}

.navVertical section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 3vw;
  gap: 1.5vh;
}

.navVertical section a {
  width: 8.61vw;
  height: 5.18vh;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 600;
}

.navVertical section .selection {
  background-color: #fff;
  color: #606060;
  text-align: center;
  height: fit-content;
  padding-block: 1vh;
}

.navVertical button {
  background-color: #420000;
  color: #fff;
  border-radius: 20px;
  border: none;
  width: fit-content;
  font-size: 1.5vw;
  font-weight: 600;
  padding-inline: 2vw;
  padding-block: 1.5vh;
  align-self: flex-end;
  margin-top: 3vh;
  margin-right: 2vw;
  box-shadow: 0 0 40px #620000;
  transition-duration: .24s;
}

.navVertical button:hover {
  background-color: #454401;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 40px #606060;
  transition-duration: .24s;
}


.content {
  background: #420000;
  color: #fff;
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin-left: 23.85vw;
}

.content h2 {
  font-size: 2.22vw;
  font-weight: 500;
}

.content h2 span {
  font-weight: 800;
}



.cardSuperior {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #620000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 40px #620000;
  width: 70.49vw;
  gap: 3vw;
}

.cardGrafico {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background: #620000;
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0 0 40px #620000;
  width: 70.49vw;
  height: 52.68vh;
  gap: 3vw;
}

.cardGrafico .card {
  width: 14.86vw;
  height: fit-content;
  border-radius: 20px;
  padding-block: 3vh;
  padding-inline: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
}

.cardGrafico .card select {
  background-color: #1B1B1B;
  border: none;
  border-radius: 70px;
  font-size: 1.67vw;
  font-weight: bold;
  color: #fff;
}

.cardGrafico .card .infoPrin {
  font-size: 1.39vw;
  font-weight: bold;
}

.cardGrafico .card .info {
  width: 13.89vw;
  padding-block: 1vh;
  font-size: 1.04vw;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardGrafico .card .info p {
  width: 12.15vw;
}


.cardGrafico .azul {
  background-color: #38A4E8;
}

.cardGrafico .card .azul {
  background-color: #0C0146;
}

.cardGrafico .amarelo {
  background-color: #454401;
}

.cardGrafico .card .amarelo {
  background-color: #242400;
}